html {
	/*background-color: white;*/
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	/*filter: invert(100%);*/
}
.jumbotron {
	color: #E0E0E0;
	/*background-color: #212121;*/
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	height: 100vh;
}
.jumbotron h1 {
	font-size: 70px;
	font-weight: 800;
	color: white;  /* Fallback: assume this color ON TOP of image */
	background: url('../images/intro-title.png') no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 1px rgba(255,255,255,0.6);
}
.jumbotron h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.season-block {
	/*transition: all 0.4s ease;*/
	border-radius: 25px;
	width: 16.666%;
	float: left;
	/*background-color: black;*/
	/*font-weight: 300;*/
}
.season-block:hover {
	/*color: #FFFFFF;*/
	font-weight: 800;
	/*cursor: pointer;*/
	/*opacity: 0.6;*/
}
.color:hover {
	cursor: pointer;
}
.season-block:hover > .color-header {
	font-weight: 800;
	color: #9E9E9E;
}
.color-header-selected {
	/*when clicked, toggle this class in js*/
	font-weight: 800;
	color: #333333 !important;
}
.episode-block {
	/*transition: all 0.4s ease;*/
	width: 10%;
	float: left;
}
.episode-block:hover {
	/*background-color: #000000;*/
	/*color: #FFFFFF;*/
	/*border-left: 3px white solid;*/
	/*border-right: 3px white solid;*/
	/*cursor: pointer;*/
	/*opacity: 0.6;*/
}
.episode-block:hover > .color-header {
	font-weight: 800;
	color: #9E9E9E;
}
#chunks {
	font-size: 0px;
	white-space: nowrap;
	overflow-x: hidden;
}
.chunk-block {
	transition: all 0.4s ease;
	width: 1.666%;
	/*float: left;*/
	display: inline-block;
	/*cursor: pointer;*/
}
.ccolor {
	cursor: pointer;
}
.chunk-block:hover {
	/*background-color: black;*/
	/*border-left: 1px white solid;*/
	/*border-right: 1px white solid;*/
	/*opacity: 0.6;*/
}
.chunk-block-small {
	-webkit-transition: all 0.4s ease;
	width: 1%;
}
.chunk-block-zoomed {
	-webkit-transition: all 0.4s ease;
	width: 41%;
}
.color {
	width: 100%;
	height: 15px;
	background-color: black;
}
.ccolor {
	width: 100%;
	height: 30px;
	background-color: black;
}
p {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
}
.center {
	text-align: center;
}
.metadata-content {
	font-size: 16px;
}
.metadata-header.span {
	margin-bottom: 20px;
}
#title-image {
	width: 100%;
}
.small-vspace {
	height: 5px;
}
.medium-vspace {
	height: 50px;
}
.large-vspace {
	height: 100px;
}
.metadata-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
	margin-top: 0px; /*aligns horizontal line with top of color blocks*/
}
footer {
	color: #9E9E9E;
}
.color-header {
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	font-size: 20px;
	color: #CCCCCC;
}
#intro-text p, 
#cs1 p, 
#cs2 p,
#cs3 p,
#outro p{
	margin-left: 100px;
	margin-right: 100px;
}
 
#cs1 h3, 
#cs2 h3, 
#cs3 h3 {
	margin-left: 100px;
	margin-right: 100px;
}

#cs1 h4, 
#cs2 h4, 
#cs3 h4{
	margin-left: 100px;
	margin-right: 100px;
}
.intro-color-numbers {
	font-size: 20px;
	font-weight: 600;
}

/*video*/

.parent-element-to-video {
    overflow: hidden;
    text-align: center;
}

video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;    
    min-height: 56.25vw; /* 100 * 9 / 16 */

}
.video-overlay-title {
    position: absolute;
    /*left: 0px;*/
    top: 250px;
    margin: 0 auto;
    color: #FFF;
}
.video-overlay-text {
    position: absolute;
    left: 50%;
    top: 525px;
    margin: 0 auto;
    color: #FFF;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}
.video-overlay-subheader {
	position: absolute;
    left: 50%;
    top: 450px;
    margin: 0 auto;
    color: #FFF;
    transform: translate(-50%, -50%);
	font-weight: 300;
	font-size: 28px;
	color: white;
}
figcaption {
	padding-top: 10px;
	color: #BBBBBB;
	text-align: center;
	font-size: 16px;
}
.vis-screenshot {
	border: 1px #CCCCCC solid; 
	padding: 20px;
}
#text {
	padding-top: 10px;
}
/*bouncing arrow*/

@import url(http://weloveiconfonts.com/api/?family=fontawesome);
 
.fa {
	width: 60px;
	display: block;
	text-align: center;
	color: #CCCCCC;
	font: normal 50px 'FontAwesome';
	line-height: 60px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}
.fa-arrow-down:before {content: "\f063";}
.fa-angle-down:before {content: "\f107";}
 
.bounce {
	position: absolute;
	bottom: 0px;
	left: 50% ;
	width: 60px;
	height: 60px ;
	margin-left:-30px;
	/*border: 2px solid #990000;*/
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}