.DS_Store
data/.DS_Store
*~
scripts/.ipynb_checkpoints/
scripts/*.pyc
*.pxm
data/color/*_sorted.json
data/color/*_chunk.json
misc/
data/color-palettes-chunked-temp/
data/color-palettes-chunked/
data/chunk-montages/*
vis/data/chunk-montages/*