html {
	/*background-color: white;*/
	height: 100%;
	width: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	/*filter: invert(100%);*/
}
.jumbotron {
	color: #E0E0E0;
	/*background-color: #212121;*/
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	height: 100vh;

}
.jumbotron h1 {
	font-size: 70px;
	font-weight: 800;
	color: white;  /* Fallback: assume this color ON TOP of image */
	background: url('../images/intro-title.png') no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	-webkit-text-stroke: 1px rgba(255,255,255,0.6);
}
.jumbotron h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.season-block {
	/*transition: all 0.4s ease;*/
	border-radius: 25px;
	width: 16.666%;
	float: left;
	background-color: black;
}
.season-block:hover {
	/*background-color: #CCCCCC;*/
	/*color: #FFFFFF;*/
	cursor: pointer;
	opacity: 0.6;
}
.episode-block {
	/*transition: all 0.4s ease;*/
	border-radius: 25px;
	width: 10%;
	float: left;
}
.episode-block:hover {
	background-color: #000000;
	color: #FFFFFF;
	/*border-left: 3px white solid;*/
	/*border-right: 3px white solid;*/
	cursor: pointer;
	opacity: 0.6;
}

#chunks {
	font-size: 0px;
	white-space: nowrap;
	overflow-x: hidden;
}
.chunk-block {
	/*transition: all 0.2s ease;*/
	width: 1.666%;
	/*float: left;*/
	display: inline-block;
	cursor: pointer;
}
.chunk-block:hover {
	background-color: black;
	/*border-left: 1px white solid;*/
	/*border-right: 1px white solid;*/
	opacity: 0.6;
}
.chunk-block-small {
	-webkit-transition: all 0.4s ease;
	width: 1%;
}
.chunk-block-zoomed {
	-webkit-transition: all 0.4s ease;
	width: 41%;
}
.color {
	width: 100%;
	height: 15px;
	background-color: black;
}
.ccolor {
	width: 100%;
	height: 30px;
	background-color: black;
}
p {
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.center {
	text-align: center;
}
.metadata-content {
	font-size: 16px;
}
.metadata-header.span {
	margin-bottom: 20px;
}
#title-image {
	width: 100%;
}
.small-vspace {
	height: 5px;
}
.large-vspace {
	height: 100px;
}
.metadata-header {
	padding-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
}
footer {
	color: #9E9E9E;
}

/*video*/
.parent-element-to-video {
    overflow: hidden;
    text-align: center;
}

video {
    height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;    
    min-height: 56.25vw; /* 100 * 9 / 16 */

}
.video-overlay-title {
    position: absolute;
    /*left: 0px;*/
    top: 250px;
    margin: 0 auto;
    color: #FFF;
}
.video-overlay-text {
    position: absolute;
    left: 50%;
    top: 525px;
    margin: 0 auto;
    color: #FFF;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
}
.video-overlay-subheader {
    position: absolute;
    left: 50%;
    top: 450px;
    margin: 0 auto;
    color: #FFF;
    transform: translate(-50%, -50%);
	font-weight: 300;
	font-size: 28px;
	color: white;
}